/* CSS Document */

/*********************************************************/
/*                                                       */
/*       ---- SECTIONS ----                              */
/*                                                       */
/*       BASIC HTML TAGS                                 */
/*       ATTRIBUTED HTML TAGS                            */
/*       GENERALLY-USED CLASSES                          */
/*       STYLES FOR THE HEADER                           */
/*       MAIN PAGE CONTENT STYLES                        */
/*       STYLES FOR SIMPLEMODAL OVERLAYS                 */
/*       STYLES FOR ERROR MESSAGES                       */
/*       STYLES FOR THE PRODUCT_LIST PAGER               */
/*       OVERRIDE FOR CMS (E.G. WORDPRESS) STYLES        */
/*       STYLES FOR TABLET SCREENS (PORTRAIT)            */
/*       STYLES FOR TABLET SCREENS (LANDSCAPE)           */
/*       STYLES FOR PHONE SCREENS (PORTRAIT)             */
/*       STYLES FOR PHONE SCREENS (LANDSCAPE)            */
/*       PRINT STYLES                                    */
/*       DEPRECATED STYLES - TO BE REMOVED LATER         */
/*                                                       */
/*********************************************************/


/******************** BASIC HTML TAGS ********************/

html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro",Helvetica,sans-serif;
  }
a {
  cursor:pointer;
  }
dl {
  color:#230;
  font-weight:normal;
  }
dt {
  text-decoration:underline;
  font-style:italic;
  margin-top:0.5em;
  font-size:1.1em;
  }
dd {
  font-size:0.9em;
  margin-top: 0.3em;
  }
em {
  font-style:italic;
  color: #758954;
  color: #444;
  }
form fieldset {
  background-color: #fff;
  border: 1px solid #060;
  border-radius: 5px;
  margin: 1em auto;
  padding:0.5em;
  min-width:200px;
  }



/* BEGIN Section for styles that help OFS stand alone from Wordpress TwentySeventeen */
*,
li,
form,
input,
div {
  box-sizing:border-box;
  word-wrap: break-word;
  }
*,
*::before,
*::after {
  box-sizing: inherit;
  }
#ofs_content {
  clear:both;
  width:95%;
  background-color:#fff;
  margin:0 auto 0;
  padding:2px 10px 0px;
  border:10px solid #8d9c75;
  border-top:0;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  position:static;
  }
article.hentry #ofs_content {
  border:0; /* No border on Wordpress pages */
  }

#page {
  word-wrap: break-word;
  }
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  }
input + button,
input + input[type="button"],
input + input[type="submit"] {
  padding: 0.75em 2em;
  }
button, input[type="button"],
input[type="submit"] {
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1;
  padding: 1em 2em;
  text-shadow: none;
  transition: background 0.2s;
  }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  background: #fff;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #bbb;
  display: block;
  width: 100%;
  }
body, button, input, select, textarea {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  }
body, button, input, select, textarea {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 400;
  }
a {
  color: #222;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  }
body, button, input, select, textarea {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 400;
  }
select {
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 3em;
  max-width: 100%;
  margin-bottom:0.25rem;
  }








/* END Section for styles that help OFS stand alone from Wordpress TwentySeventeen */



/* Create a file-tab style legend at the top of the fieldset */
.grouping_block > legend {
  color: #222;
  font-weight: bold;
  line-height:1.5rem;
  border-style:solid solid none;
  border-color:#888;
  border-radius:10px 10px 0 0;
  border-width:1px;
  margin:1rem 1rem 0;
  padding:0 0.5rem;
  position:relative;
  top:-1.3rem;
  }
form {
  display:block;
  position:relative;
  }
h3 {
  color:#58673f;
  font-size: 150%;
  font-family: Verdana, Arial, sans-serif;
  }
hr {
  border: 0;
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #D6D6D6; 
  margin: 0%;
  }
input {
  font-size: 12px; 
   font-family:"Lucida Console", monospace;
  /* background-color: #F5F5F5; DEE8ED*/
   color:#000;
   /*border: 1px solid #666666;*/
  }
pre {
  text-align:left;
  margin-left:1em;
  }
textarea{ 
   width:90%;
   font-size: 12px; 
   font-family:"Lucida Console", monospace;
   background-color: #F5F5F5; 
   color:#000;
   border: 1px solid #666666;
  }
/******************** ATTRIBUTED HTML TAGS ********************/

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  margin:2px;
  }
input[type="text"]:disabled
  {
  background-color:#ddd;
  color:#666;
  } 
/* Set background color for input/textarea placeholders */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#aaa;
  }
::-moz-placeholder { /* Firefox 19+ */
  color:#aaa;
  }
:-ms-input-placeholder { /* IE 10+ */
  color:#aaa;
  }
:-moz-placeholder { /* Firefox 18- */
  color:#aaa;
  }
/******************** GENERALLY-USED CLASSES ********************/

strike {
  opacity:0.3;
  }
.clear {
  display:block;
  /* height:30px; */
  clear:both;
  }
.bold {
  font-weight: bold;
  }
.center {
  text-align:center;
  }
.left {
  text-align:left;
  }
.right {
  text-align:right;
  }
.compact {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #222222;
  }
table.compact td {
  padding:8px 4px;
  }
table.compact tr td img {
  clear:both;
  }
.large {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  }
/* Set color for disabled text */
.warn,
a.warn {
  color:#800;
  }
/* COMMENTED TO USE WORDPRESS THEME VALUES */ /*
.button {
  display:inline-block;
  border:1px solid #000;
  background-color:#ddd;
  padding:3px;
  text-align:center;
  overlfow:auto;
  cursor:pointer;
  }
*/

/* Help links... i.e. on edit_product_screen.php */
.help_link {
  cursor:help;
  text-decoration:none;
  }

/* STYLES FOR INPUT-FORM ELEMENTS (e.g. edit_member.php) AND ASSOCIATED DISPLAY "FORMS" */

fieldset .input_block,
fieldset .info_block {
  display: inline-block;
  min-width: 3em;
  font-size:0.9em;
  }
span.required::before,
label.required::before {
  color: #800;
  content: "* ";
  }
fieldset .input_block label,
fieldset .info_block label {
  margin-left: 4px;
  clear: both;
  color: #222;
  display: block;
  font-size: 70%;
  min-width: 5em;
  width: 100%;
  margin-left: 4px;
  text-align:left;
  }
div.option_label {
  clear: both;
  color: #008;
  display: block;
  font-size: 70%;
  width: 100%;
  margin-left: 4px;
  }
.form_buttons button,
.grouping_block input,
.input_block input,
.grouping_block button,
.grouping_block .option_block .text_info,
.option_block,
.grouping_block .info_block p, /** for display of member records **/
.grouping_block .info_block ul, /** for display of member records **/
fieldset .grouping_block, /** for display of member records **/
textarea {
  background-color: #eee;
  border: 1px solid #686;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 #bcb;
  color: #060;
  font-size: 12px;
  line-height: 1.5;
  margin: 2px;
  padding: 3px 8px;
  }
.grouping_block .option_block .input_block {
  background:none;
  border-radius:5px;
  width:4.9em;
  height:6em;
  text-align:center;
  margin:0 8px;
  }
.grouping_block .option_block .input_block label {
  display:table-cell;
  vertical-align:bottom;
  width:7em; /* width of containing input_block / 70% (font size) */
  height:4.5em;
  text-align:center;
  color:#060;
  min-width:5em;
  margin-left: 4px;
  }
.form_buttons button:hover,
.grouping_block input:hover,
.grouping_block button:hover,
.grouping_block textarea:hover,
.grouping_block .option_block .input_block:hover {
  background-color:#cdc;
  color:#040;
  }

.info_block p {
  height:2.5em;
  overflow:hidden;
  }

/************* STYLES FOR MEMBER_FORM AND PRODUCER_FORM *************/

.submission_form {
  margin:1rem;
  }
.submission_form p {
  width:80%;
  margin:0.75rem auto;
  }



/******************** STYLES FOR THE HEADER ********************/

/* Styles for the header logo and other related elements */
#header {
  position:relative;
  min-height:140px; /* height of the logo */
  width:95%;
  padding:5px 10px;
  }
#header_logo {
  margin:0 10px 0 0;
  }
#header .header_mission,
#header .tagline,
#header a {
  display:inline-block;
  vertical-align:middle;
  }
#header .header_mission {
  font-style:italic;
  width:50%;
  padding-left:50px;
  color:#758954;
  }
#header .header_mission strong {
  color:#9a7823;
  font-size:130%;
  }
#header .tagline {
  width:95%;
  text-align:right;
  margin:0.5em auto 0;
  font-variant:small-caps;
  color:#758954;
  }
#header_mission {
  font-family:Brush-Script-MT;
  }
/* Styles for the menu */
#menu {
  clear:both;
  width:95%;
  background-color:#8d9c75;
  margin:0 auto 0;
  padding:2px 10px 0px;
  border:10px solid #8d9c75;
  border-top:2px;
  border-bottom:0;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  }
#menu .tab_frame {
  position:relative;
  display:inline-block;
  margin:0px 0px 2px;
  padding:0;
  }
#menu a {
  display:block;
  overflow:hidden;
  padding:1px 4px;
  font-size:12px;
  font-weight:normal;
  text-decoration:none;
  text-align:center;
  background-color:#ffe;
  color:#607044;
  }
#menu a:hover {
  background-color:#d4e8bb;
  color:#607044;
  }
#menu a.current_tab {
  background-color:#fdfecf;
  }
#menu div.left {
  float:left;
  }
#menu div.right {
  float:right;
  }

/******************** MAIN PAGE CONTENT STYLES ********************/

/*
#content {
  border-right:10px solid #758954;
  border-bottom:10px solid #758954;
  border-left:10px solid #758954;
  border-left:10px solid #758954;
  padding:10px;
  min-height:550px;
  width:95%;
  background-color:#fff;
  margin:auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  }
*/
/* Page title and subtitle style */
/*
.title {
  display:inline-block;
  color:#58673f;
  font-weight:bold;
  }
*/
.title {
  display:block;
  }
.subtitle {
  display:block;
  font-size:90%;
  color:#888;
  font-variant:small-caps;
  }
.subtitle_search {
  display:block;
  font-weight:normal;
  /* text-transform:none;
  font-variant:normal; */
  }
.subtitle_search::before {
  content:"Searching: ";
  display:inline;
  }
.subtitle_site {
  display:block;
  font-weight:normal;
  text-transform:none;
  font-variant:normal;
  cursor:pointer;
  }
.subtitle_site::before {
  content:"Delivery \2192  ";
  display:inline;
  }

/* Styles for Quick Links (and some popup links) */
#quick_link {
  width: 100%;
  text-align:center;
  }
.view_option_text {
  text-align: center;
  width: 100%;
  clear:both;
  }
#quick_link .view_option {
  background-color: #475c25;
  border: 1px solid #748853;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition:all 1s;
  }
#quick_link .view_option {
  font-size: 10px;
  height: 60px;
  margin: 3px;
  vertical-align: bottom;
  width:50px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size:contain;
  }
#quick_link .list {
  background-image: url("/food/grfx/list-icon.png");
  }
#quick_link .cloud {
  background-image: url("/food/grfx/cloud-icon.png");
  }
#quick_link .grid {
  background-image: url("/food/grfx/grid-icon.png");
  }
#quick_link .view_option:hover {
  background-color: #748853;
  transition:all 0.5s;
  }

  /********************  STYLES FOR SIMPLEMODAL OVERLAYS ********************/

body.popup {
  display:block;
  margin:0;
  overflow:auto;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  }
/* Set up the simplemodal close button */
a.modalCloseImg {
  background:url(/food/grfx/simplemodal_x.png) no-repeat; /* adjust url as required */
  font-size:0;
  width:40px;
  height:46px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-20px;
  right:-23px;
  cursor:pointer;
  }
a.modalCloseImg:hover {
  background:url(/food/grfx/simplemodal_x_hover.png) no-repeat; /* adjust url as required */
  }
/* Ensure data container fills the entire simplemodal-data container (vertically)
   and hide the vertical scrollbar resulting from a slight vertical overflow */
.simplemodal-container,
.simplemodal-wrap,
.simplemodal-data {
  border-radius:15px;
  }
/* Simplemodal containers that should center information in their modal windows */
.modal_content {
  display:table;
  width:100%;
  height:100%;
  vertical-align:middle;
/*   margin:-1rem -1px; prevent phantom scrollbar along bottom */
  }
.full_modal {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  padding:1rem;
  }
#simplemodal-data {
  position:absolute;
  -webkit-overflow-scrolling: touch !important;
  height:100%;
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
  }
/* Ensure iframe fills the entire simplemodal-data container */
#simplemodal-data iframe {
  position:absolute;
  height:100%;
  width:100%;
  border-width:0;
  border-radius:15px;
  background-color:#fff;
/*  margin-bottom:-5px; */
  margin-bottom:0;
  overflow:none;
  }
.simplemodal-wrap {
  border-radius:15px;
  }
.simplemodal-overlay {
  background-color:#000;
  }
/* Style the simplemodal window relative to the parent window */
.simplemodal-container {
  box-shadow: 5px 5px 20px 20px #222;
  opacity:1;
  height:80%;
  width:80%;
  border-radius:15px;
  /* min/max values will override the simplemodal size (at least in Firefox)
  max-height:30%;
  max-width:30%;
  min-height:30%;
  min-width:30%;
  */
  }
/* Styles related only to simplemodal MOTD display */
#simplemodal-container-motd {
  height:80%;
  width:50%;
  }
/* #simplemodal-container-select_delivery {
  max-width:340px;
  min-width:340px;
  } */
.confirm_site_message {
  font-size:120%;
  }
.confirm_site_message a {
  display:inline-block;
  background-color:#ccc;
  padding:2px 5px;
  border-radius:3px;
  }
/* Styles related only to simplemodal ordering_history_popup display */
#simplemodal-container-select_order_history {
    max-width: 340px;
    min-width: 340px;
  }


/******************** STYLES FOR ERROR MESSAGES ********************/
.display_alert.error::before {
  content:"!";
  }
.display_alert.error {
  background-color:#800;
  }
.display_alert.warning::before {
  content:"!";
  }
.display_alert.warning {
  background-color:#830;
  }
.display_alert.notice::before {
  content:"*";
  }
.display_alert.notice {
  background-color:#055;
  }
.display_alert.information::before {
  content:"&";
  }
.display_alert.information {
  background-color:#006;
  }
.display_alert.help::before {
  content:"?";
  }
.display_alert.help {
  background-color:#040;
  }

.display_alert::before {
  position: relative;
  float: left;
  color: #fff;
  font-family: Times New Roman;
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
  text-align:center;
  width:50px;
  left: -40px;
  top:20px;
  margin-bottom:100px;
  }
.display_alert {
  position:absolute;
  top:20px;
  left:20px;
  z-index:5;
  width:0px;
  height:110px;
  color:#fff;
  opacity:0.8;
  padding:10px 10px 10px 40px;
  background-color:#800;
  font-weight:normal;
  font-size: 1.1em;
  overflow:hidden;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #000;
  transition:width 0.5s,height 1.5s;
  }
.display_alert::after {
  color: #fff;
  content:"(Click to pin/unpin this message)";
  float: right;
  font-family: Times New Roman;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  height:50px;
  }
.display_alert.expanded,
.display_alert:hover {
  width:70%;
  height:auto;
  opacity:0.8;
  transition:0.5s,height 1.5s;
  }
.display_alert.expanded::after { /* Show a tack to pin open */
  background-image:url("/food/grfx/pin-icon.png");
  background-position:right center;
  background-repeat:no-repeat;
  }
.display_alert .alert_header {
  font-size:1.5rem;
  text-align:center;
  display:inline-block;
  text-transform:uppercase;
  transform:scale(2.5,1);
  }
.display_alert .alert_message {
  width:95%;
  margin:10px 20px;
  font-size: 1.1em;
  color:#fff;
  }
.alert_list,
.alert_list .error,
.alert_list .warn {
  font-weight:normal;
  font-style:italic;
  font-size: 1.1em;
  color:#ff8;
  text-align:left;
  }
.alert_list a {
  color:inherit;
  font-weight:bold;
  text-decoration:none;
  }
.alert_list a:hover {
  text-decoration:underline;
  }

/* STYLES FOR THE PRODUCT LIST PAGER ******************************************/
#product_list_pager_top,
#product_list_pager_bottom {
  height:6rem; /* top:2, slider:3, bottom:1 */
  }
#product_list_pager_bottom {
  margin-top: -3rem;
  }
.pager {
  width:100%;
  margin:2rem auto 3rem;
  font-size:0;
  display:inline-block;
  background-color:#fff;
  border:0;
  }
.pager .pager_center {
  width:84%;
  margin:0;
  padding:0;
  height:3rem;
  line-height:3rem;
  text-align:center;
  display:inline-block;
  }
.pager .button_position {
  width:8%;
  margin:0;
  padding:0;
  height:3rem;
  line-height:3rem;
  text-align:center;
  display:inline-block;
  }
.pager .pager_slider {
  width:100%;
  margin:0.1rem 0 0 0;
  padding:0;
  height:3rem;
  line-height:3rem;
  background-color:transparent;
  border:0;
  }
.pager .pager_slider:focus {
  border:none;
  }
.pager .pager_increment,
.pager .pager_decrement {
  margin:0;
  padding:0;
  width:3rem;
  height:3rem;
  color:#888;
  font-size:4rem;
  font-weight:bold
  line-height:3rem;
  cursor:pointer;
  display:inline-block;
  text-align:center;
  border-radius:40px;
  }
.pager .pager_increment span {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  width:3rem;
  }
.pager .pager_decrement span {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  width:3rem;
  }
.pager_display_value {
  position:absolute;
  left:20%;
  width:60%;
  text-align:center;
  font-size:2rem;
  font-weight:bold;
  height:3rem;
  line-height:3rem;
  background-color:transparent;
  pointer-events:none; /* Allow clicking through to the range selector */
  }
.pager input:focus {
  /* Hide the outline when range-slider is focused */
  /* For some reason "transparent" does not work -- at least not in Firefox */
  outline:1px solid #fff;
  border:1px solid #fff;
  color:transparent;
  }

/********************* List sorting buttons *********************/
.list_navigation #sort_option {
  width: 100%;
  z-index: 1000;
  background-color: #eee;
  padding: 1rem;
  transition: all 1s;
  border-radius: 1rem;
  border: 1px solid #888;
  margin-bottom: 0rem;
  position: absolute;
  opacity: 1;
  box-shadow:-3px -3px 10px 5px #888 inset;
  }
#sort_option {
  text-align:center;
  }
#sort_option.hidden {
  transition: all 1s;
  z-index: 0;
  opacity: 0;
  }
#sort_option_reveal {
  position:relative;
  border:1px solid #888;
  display:inline-block;
  padding:1rem;
  border-radius:1rem;
  top:-2rem;
  z-index:50;
  cursor:pointer;
  }
.list_navigation {
  text-align:center;
  }
.list_navigation .search {
  display:inline-block;
  }
.list_navigation .sort_title {
  font-variant: small-caps;
  text-align: center;
  }
#edit_product_info .radio_pushbutton,
.list_navigation .sort_type_radio,
.list_navigation .select_type_radio {
  display:none;
  }
#edit_product_info .radio_pushbutton + label,
.list_navigation .sort_type_radio + label,
.list_navigation .select_type_radio + label {
  display:inline-block;
  color:#fff;
  height:3rem;
  border: 1px solid #888;
  line-height:1rem;
  font-size:0.85rem;
  padding:0.5rem 1rem;
  margin:0.25rem;
  border-radius:0.5rem;
  background-color:#321;
  cursor:pointer;
  text-align:center;
  overflow:auto
  }
#edit_product_info .radio_pushbutton:checked + label,
.list_navigation .sort_type_radio:checked + label,
.list_navigation .select_type_radio:checked + label {
  background-color:#ddd;
  color:#222;
  border-width:2px;
  border-color:#000;
  cursor:auto;
  }
#edit_product_info .radio_pushbutton:checked + label:before,
.list_navigation .sort_type_radio:checked + label:before,
.list_navigation .select_type_radio:checked + label:before {
  content:"\2714"; /* checkmark */
  position:relative;
  left:-0.5rem;
  }
#edit_product_info .radio_pushbutton + label .detail,
.list_navigation .sort_type_radio + label .detail,
.list_navigation .select_type_radio + label .detail {
  display:block;
  font-size:70%;
  color:#888;
  }
.list_navigation #select_type_admin_unconfirmed + label {
  background-color:#620;
  }
.list_navigation #select_type_admin_unconfirmed:checked + label {
  background-color:#f80;
  }

/* Styles for submit/reset/clear/etc. form buttons */
.form_buttons {
  position:fixed;
  left:1rem;
  bottom:1rem;
  z-index:100;
  }
.form_buttons button {
  display:block;
  clear:both;
  width:5rem;
  margin-bottom:2rem;
  }

/* Styles for subpanels -- used on panel pages */
.subpanel {
  position:relative;
  border:1px solid rgba(128,128,128,0.5);
  border-radius:1rem;
  padding:3rem 1rem 1rem;
  margin:3rem 0 5rem;
  background-position:bottom right;
  background-repeat:no-repeat;
  background-size:40%;
  transition:all 0.25s;
  }
.subpanel:hover {
  background-color:rgba(250,250,250,1);
  border-color:#000;
  transition:all 0.25s;
  }
.subpanel:hover header {
  background-color:rgba(240,240,240,1);
  border-color:#000;
  transition:all 0.25s;
  }
.subpanel:hover a {
  background-color:rgba(255,255,255,0);
  transition:all 0.25s;
  }
.subpanel ul {
  margin-bottom:0;
  }
.subpanel a:hover {
  text-decoration:none;
  }
.subpanel > header {
  position:relative;
  top:-5rem;
  line-height:1.5rem;
  margin:0 3rem -4rem 2rem;
  padding:0.5rem 1rem;
  border:1px solid rgba(128,128,128,0.5);
  background-color:rgb(255,255,255);
  border-radius:1rem;
  background-position:top 0.5rem left 1rem;
  background-repeat:no-repeat;
  background-size:2.5rem;
  padding-left:4.5rem;
  transition:all 0.25s;
  }

#ofs_content .search input[type="text"] {
  height:3rem;
  margin:0 0.5rem 1rem;
  border-radius:1rem;
  }
/*
#ofs_content .search input[type="submit"] {
  height:3rem;
  margin:0 0.5rem 1rem;
  max-width:30%;
  border-radius:1rem;
  }
*/
#ofs_content .search .search_status {
  display:block;
  clear:both;
  }

ul.grid.shopping_options {
  font-size:130%;
  }
ul.grid {
  list-style-type: none;
  display:flex;
  flex-wrap:wrap;
  text-align:center;
  justify-content:center;
  margin:-0.5rem 0 1rem -0.5rem;
  }
.grid.current_order_info li {
  background-color: #ffd;
  }
ul.grid li > span {
  margin:0.5rem;
  }
.block {
  display:flex;
  text-align:center;
  vertical-align:middle;
  border:1px solid #888;
  margin:0.5rem 0 0 0.5rem;
  border-radius:0.5rem;
  flex-direction:column;
  justify-content:center;
  font-size:80%;
  }
.block_11 {
  min-width:2.5rem;
  width:2.5rem;
  min-height:2.5rem;
  }
.block_12 {
  min-width:2.5rem;
  width:2.5rem;
  min-height:5.5rem;
  }
.block_21 {
  min-width:5.5rem;
  width:5.5rem;
  min-height:2.5rem;
  }
.block_22 {
  min-width:5.5rem;
  width:5.5rem;
  min-height:5.5rem;
  }
.block_23 {
  min-width:5.5rem;
  width:5.5rem;
  min-height:8.5rem;
  }
.block_24 {
  min-width:5.5rem;
  width:5.5rem;
  min-height:11.5rem;
  }
.block_26 {
  min-width:5.5rem;
  width:5.5rem;
  min-height:17.5rem;
  }
.block_31 {
  min-width:8.5rem;
  width:8.5rem;
  min-height:2.5rem;
  }
.block_32 {
  min-width:8.5rem;
  width:8.5rem;
  min-height:5.5rem;
  }
.block_33 {
  min-width:8.5rem;
  width:8.5rem;
  min-height:8.5rem;
  }
.block_34 {
  min-width:8.5rem;
  width:8.5rem;
  min-height:11.5rem;
  }
.block_36 {
  min-width:8.5rem;
  width:8.5rem;
  min-height:17.5rem;
  }
.block_41 {
  min-width:11.5rem;
  width:11.5rem;
  min-height:2.5rem;
  }
.block_42 {
  min-width:11.5rem;
  width:11.5rem;
  min-height:5.5rem;
  }
.block_43 {
  min-width:11.5rem;
  width:11.5rem;
  min-height:8.5rem;
  }
.block_44 {
  min-width:11.5rem;
  width:11.5rem;
  min-height:11.5rem;
  }
.block_62 {
  min-width:17.5rem;
  width:17.5rem;
  min-height:5.5rem;
  }
.block_63 {
  min-width:17.5rem;
  width:17.5rem;
  min-height:8.5rem;
  }
.block_64 {
  min-width:17.5rem;
  width:17.5rem;
  min-height:11.5rem;
  }
.block_66 {
  min-width:17.5rem;
  width:17.5rem;
  min-height:17.5rem;
  }
.block {
  text-align:center;
  background-color:#fff;
  position:relative;
  }
#ofs_content li.block form {
  display:flex;
  height:100%;
  width:100%;
  padding:1rem;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  border-radius:0.5rem;
  }
#ofs_content li.block form input[type="submit"] {
  background-color:#000;
  border-radius:0.5rem;
  box-shadow:inset 2px 2px 5px #ccc; /* relief like a button */
  margin:auto;
  }
#ofs_content li.block form input[type="submit"]:focus {
  outline:none;
  color:#ffa;
  }
#ofs_content li.block form input[type="submit"]:active {
  background-color:#222;
  box-shadow:inset 0 0 3px #888; /* relief like a button */
  }
#ofs_content li.block a {
  display:flex;
  height:100%;
  width:100%;
  padding:1rem;
  box-shadow:inset -3px -3px 10px #888; /* relief like a button */
  flex-direction:column;
  justify-content:center;
  border-radius:0.4rem;
  }
#ofs_content li.block a:focus {
  outline:none;
  color:#008;
  }
#ofs_content li.block a:active {
  box-shadow:inset 0 0 13px #aaa; /* button-push */
  }
#ofs_content li.block .title {
  font-weight:bold;
  }
#ofs_content li.block .detail {
  font-size:70%;
  }
a.popup_link:after {
  position:absolute;
  top:0.25em;
  right:0.5em;
  content:"\2727";
  }



/* Other miscellaneous styles */

/* PAYPAL FIELDS */
input[type="text"].paypal_amount_field {
  display:inline;
  text-align:left;
  font-size:16px;
  width:6em;
  border:0;
  }
.paypal_span1,
.paypal_span2 {
  padding: 3px 0;
  font-size:16px;
  }
#paypal_form1 {
  }
.paypal_button {
  display:inline-block;
  margin:auto;
  width:86px;
  height:21px;
  }

/* Styles for alert */
.alert_block {
  display:block;
  padding:2em;
  }
/* Use clear class for clearing divs */
.clear {
  height:0;
  width:0;
  clear:both;
  }

/* Styles for delivery_id navigation */
#delivery_id_nav {
  margin: 1rem auto;
  width: 100%;
  text-align:center;
  }
#delivery_id_nav .delivery_id {
  display:block;
  font-weight:bold;
  background-color:#000;
  color:#fff;
  border-radius:0;
  }
#delivery_id_nav .prior,
#delivery_id_nav .next,
#delivery_id_nav .delivery_id {
  height:2rem;
  display: inline-block;
  line-height: 2rem;
  padding: 0 15px;
  }
#delivery_id_nav .prior {
  position: absolute;
  border-radius:1rem 0 0 1rem;
  left: 0;
  }
#delivery_id_nav .next {
  position: absolute;
  border-radius:0 1rem 1rem 0;
  right: 0;
  }

/******************** OLD PANEL STYLES ***************/
ul.fancyList1 {
  list-style-type:square;
  }
ul.fancyList1 li {
  clear:left;
  margin-left:2rem;
  }

/******************** MEDIA STYLES ***************/

@media print {
  #ofs_content {
    border:0;
    }
  /* Hide certain page areas from printing */
  header,
  #header,
  #menu,
  #footer,
  #user_menu,
  #payment_options,
  #quick_link,
  .prior_link,
  .current_view,
  .no_print {
    display:none;
    }
  }
@media screen and (min-device-width: 20em) {
  .foobar { }
  .subpanel > header {
    margin:0 1rem -4rem 1rem;
    background-position:top 0.5rem left 0.5rem;
    background-size:1.5rem;
    padding-left:2.5rem;
    }
  .submission_form {
    margin: 0 -1em 10em 1em;
    }
  .submission_form legend {
    font-size:70%;
    }
  .form_buttons {
    left:0.25rem;
    bottom:0;
    }
  .form_buttons button {
    margin-bottom:1rem;
    font-size:80%;
    }
  #simplemodal-container-motd {
    height:90%;
    max-height:500px;
    width:90%;
    }
  .iframe-motd *,
  .iframe-motd .alert_box {
    font-size:85%;
    }
  }
@media screen and (min-width: 30em) {
  .foobar { }
  #simplemodal-container-motd {
    height:80%;
    max-height:500px;
    width:70%;
    }
  .iframe-motd *,
  .iframe-motd .alert_box {
    font-size:90%;
    }
  }
@media screen and (min-width: 48em) {
  .foobar { }
  #simplemodal-container-motd {
    height:80%;
    max-height:500px;
    width:50%;
    }
  .iframe-motd *,
  .iframe-motd .alert_box {
    font-size:95%;
    }
  }

