/* CSS Document */

/*********************************************************/
/*                                                       */
/*       ---- SECTIONS ----                              */
/*                                                       */
/*       BASIC HTML TAGS                                 */
/*       ATTRIBUTED HTML TAGS                            */
/*       GENERALLY-USED CLASSES                          */
/*       STYLES FOR THE HEADER                           */
/*       MAIN PAGE CONTENT STYLES                        */
/*       STYLES FOR SIMPLEMODAL OVERLAYS                 */
/*       STYLES FOR ERROR MESSAGES                       */
/*       STYLES FOR THE PRODUCT_LIST PAGER               */
/*       OVERRIDE FOR CMS (E.G. WORDPRESS) STYLES        */
/*       STYLES FOR TABLET SCREENS (PORTRAIT)            */
/*       STYLES FOR TABLET SCREENS (LANDSCAPE)           */
/*       STYLES FOR PHONE SCREENS (PORTRAIT)             */
/*       STYLES FOR PHONE SCREENS (LANDSCAPE)            */
/*       PRINT STYLES                                    */
/*       DEPRECATED STYLES - TO BE REMOVED LATER         */
/*                                                       */
/*********************************************************/


/******************** BASIC HTML TAGS ********************/

html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro",Helvetica,sans-serif;
  }
a {
  cursor:pointer;
  }
dl {
  color:#230;
  font-weight:normal;
  }
dt {
  text-decoration:underline;
  font-style:italic;
  margin-top:0.5em;
  font-size:1.1em;
  }
dd {
  font-size:0.9em;
  margin-top: 0.3em;
  }
em {
  font-style:italic;
  color: #758954;
  color: #444;
  }
h3 {
  color:#58673f;
  font-size: 150%;
  font-family: Verdana, Arial, sans-serif;
  }
hr {
  border: 0;
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #D6D6D6; 
  margin: 0%;
  }
input {
  font-size: 12px; 
   font-family:"Lucida Console", monospace;
  /* background-color: #F5F5F5; DEE8ED*/
   color:#000;
   /*border: 1px solid #666666;*/
  }
pre {
  text-align:left;
  margin-left:1em;
  }
textarea{ 
   width:90%;
   font-size: 12px; 
   font-family:"Lucida Console", monospace;
   background-color: #F5F5F5; 
   color:#000;
   border: 1px solid #666666;
  }

/******************** ATTRIBUTED HTML TAGS ********************/

a:link {
  color: #58673f;
  text-decoration: none;
  background-color: transparent;
  }
a:visited {
  color: #283510;
  text-decoration: none;
  font-style:italic;
  background-color: transparent;
  }
a:hover {
  color: #5f4f1f;
  text-decoration: underline;
  background-color:transparent;
  }
input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  margin:2px;
  }
input[type="text"]:disabled
  {
  background-color:#ddd;
  color:#666;
  } 
/* Set background color for input/textarea placeholders */
:-ms-input-placeholder {
  color:#999;
  }
::-webkit-input-placeholder {
  color:#999;
  }
:-moz-placeholder {
  color:#999;
  }

/******************** GENERALLY-USED CLASSES ********************/

strike {
  opacity:0.3;
  }
.clear {
  display:block;
  /* height:30px; */
  clear:both;
  }
.bold {
  font-weight: bold;
  }
.center {
  text-align:center;
  }
.left {
  text-align:left;
  }
.right {
  text-align:right;
  }
.compact {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #222222;
  }
.large {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  }
/* Set color for disabled text */
a.warn {
  color:#800;
  }
.button {
  display:inline-block;
  border:1px solid #000;
  background-color:#ddd;
  padding:3px;
  text-align:center;
  overlfow:auto;
  cursor:pointer;
  }
/* Help links... i.e. on edit_product_screen.php */
.help_link {
  cursor:help;
  text-decoration:none;
  }

/******************** STYLES FOR THE HEADER ********************/

/* Styles for the header logo and other related elements */
#header {
  position:relative;
  min-height:140px; /* height of the logo */
  width:95%;
  padding:5px 10px;
  }
#header_logo {
  margin:0 10px 0 0;
  }
#header .header_mission,
#header .tagline,
#header a {
  display:inline-block;
  vertical-align:middle;
  }
#header .header_mission {
  font-style:italic;
  width:50%;
  padding-left:50px;
  color:#758954;
  }
#header .header_mission strong {
  color:#9a7823;
  font-size:130%;
  }
#header .tagline {
  width:95%;
  text-align:right;
  margin:0.5em auto 0;
  font-variant:small-caps;
  color:#758954;
  }
#header_mission {
  font-family:Brush-Script-MT;
  }
/* Styles for the menu */
#menu {
  clear:both;
  width:95%;
  background-color:#758954;
  margin:0 auto 0;
  padding:2px 10px 0px;
  border-top:2px solid #758954;
  border-left:10px solid #758954;
  border-right:10px solid #758954;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  }
#menu .tab_frame {
  position:relative;
  display:inline-block;
  margin:0px 0px 2px;
  padding:0;
  }
#menu a {
  display:block;
  overflow:hidden;
  padding:1px 4px;
  font-size:12px;
  font-weight:normal;
  text-decoration:none;
  text-align:center;
  background-color:#ffe;
  color:#607044;
  }
#menu a:hover {
  background-color:#d4e8bb;
  color:#607044;
  }
#menu a.current_tab {
  background-color:#fdfecf;
  }
#menu div.left {
  float:left;
  }
#menu div.right {
  float:right;
  }

/******************** MAIN PAGE CONTENT STYLES ********************/

#content {
  border-right:10px solid #758954;
  border-bottom:10px solid #758954;
  border-left:10px solid #758954;
  border-left:10px solid #758954;
  padding:10px;
  min-height:550px;
  width:95%;
  background-color:#fff;
  margin:auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  }
/* Page title and subtitle style */
.title {
  display:inline-block;
  color:#58673f;
  font-weight:bold;
  }
.subtitle {
  display:inline-block;
  font-size:100%;
  color:#58673f;
  font-variant:small-caps
  }
.subtitle::before {
  content:"\00a0\2013\00a0";
  }
/* Attributes used in panel tables */
.fancyList1 {
  list-style-position: outside;
  list-style-image: url(/food/grfx/dots.png);
  }
.fancyList1 li.current  {
  list-style-image: url(/food/grfx/red_arrow.png);
  }
.fancyList1 li.current a  {
  font-size:1.7em;
  font-weight:normal;
  }
table.compact td {
  padding:8px 4px;
  }
table.compact tr td img {
  clear:both;
  }
li.last_of_group {
  margin-bottom:2em;
  }

  /********************  STYLES FOR SIMPLEMODAL OVERLAYS ********************/

/* Set up the simplemodal close button */
a.modalCloseImg {
  background:url(/food/grfx/simplemodal_x.png) no-repeat; /* adjust url as required */
  font-size:0;
  width:40px;
  height:46px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-20px;
  right:-23px;
  cursor:pointer;
  }
a.modalCloseImg:hover {
  background:url(/food/grfx/simplemodal_x_hover.png) no-repeat; /* adjust url as required */
  }
/* Ensure data container fills the entire simplemodal-data container (vertically)
   and hide the vertical scrollbar resulting from a slight vertical overflow */
.simplemodal-container,
.simplemodal-wrap,
.simplemodal-data {
  border-radius:15px;
  }
#simplemodal-data {
  position:absolute;
  -webkit-overflow-scrolling: touch !important;
  height:100%;
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
  }
/* Ensure iframe fills the entire simplemodal-data container */
#simplemodal-data iframe {
  height:100%;
  width:100%;
  border-width:0;
  border-radius:15px;
  background-color:#fff;
  margin-bottom:-5px;
  }
.simplemodal-wrap {
  border-radius:15px;
  }
.simplemodal-overlay {
  background-color:#000;
  }
/* Style the simplemodal window relative to the parent window */
.simplemodal-container {
  box-shadow: 5px 5px 20px 20px #222;
  opacity:1;
  height:80%;
  width:80%;
  border-radius:15px;
  /* min/max values will override the simplemodal size (at least in Firefox)
  max-height:30%;
  max-width:30%;
  min-height:30%;
  min-width:30%;
  */
  }
/* Styles related only to simplemodal MOTD display */
#simplemodal-container-motd {
  height:80%;
  width:50%;
  }
#simplemodal-container-select_delivery {
  max-width:340px;
  min-width:340px;
  }
/* Styles related only to simplemodal ordering_history_popup display */
#simplemodal-container-select_order_history {
    max-width: 340px;
    min-width: 340px;
  }

/******************** STYLES FOR ERROR MESSAGES ********************/
.error_message {
  background-image: url("/food/grfx/error.png");
  background-repeat:no-repeat;
  background-position:left top;
  position:absolute;
  top:20px;
  left:20px;
  z-index:5;
  width:0px;
  height:110px;
  color:#fff;
  opacity:0.7;
  padding:10px 10px 10px 40px;
  background-color:#800;
  font-weight:normal;
  font-style:italic;
  font-size: 1.1em;
  overflow:hidden;
  border-radius: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #000;
  transition:width 0.5s,height 1.5s;
  }
.error_message a {
  color:#ff0;
  }
.error_message a:hover {
  color:#fd8;
  }
.error_message:hover {
  width:50%;
  height:auto;
  opacity:0.9;
  transition:0.5s,height 1.5s;
  }
p.message {
  width:95%;
  margin:10px 20px;
  font-size: 1.1em;
  color:#008;
  }
.error_list,
.error_list .error,
.error_list .warn {
  font-weight:normal;
  font-style:italic;
  font-size: 1.1em;
  color:#ff8;
  clear:left;
  }
.error_list .warn {
  font-weight:normal;
  font-style:italic;
  font-size: 1.1em;
  color:#8f8;
  clear:left;
  }
.error_message .message {
  color:#fff;
  }
form .input_block label.error,
form label.error {
  color:#800;
  }
form input.error {
  background-color:#ffa;
  }
div.open {
  width:50%;
  height:auto;
  opacity:0.9;
  transition:0.5s,height 1.5s;
  }

/******************** STYLES FOR THE PRODUCT_LIST PAGER ********************/

.pager {
  clear:both;
  margin:1em 0em;
  font-size: 120%;
  }
.pager .pager_title {
  display:block;
  float:left;
  font-size: 100%;
  padding:1px 4px;
  border:1px solid #040;
  border-right:0;
  background-color:#ffc;
  }
.pager a {
  display:block;
  float:left;
  text-align:center;
  padding:1px 0;
  border:1px solid #040;
  border-right:0;
  text-decoration:none;
  background-color:#ffc;
  overflow:hidden;
  }
.pager a.current {
  background-color:#bdb;
  min-width:5%;
  }
.pager a.first,
.pager a.last {
  min-width:5%;
  }
.pager a.last {
  border-right:1px solid #040;
  }
.pager a:hover {
  color:#000;
  background-color:#8a8;
  min-width:5%;
  }

/******************** OVERRIDE FOR CMS (E.G. WORDPRESS) STYLES ***************/










/*               RESOURCE FOR CALCULATING BREAKPOINTS                      */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/*                                                                         */
/*              (these breakpoints have not been vetted)                   */

/******************** STYLES FOR TABLET SCREENS (PORTRAIT) ***************/
@media
  only screen and handheld and (min-width: 601px) (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait),
  only screen and handheld and (min-width: 768px) (max-width: 768px)  and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  }

/******************** STYLES FOR TABLET SCREENS (LANDSCAPE) ***************/
@media
  only screen and handheld and (min-width: 906px)  (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape),
  only screen and handheld and (min-width: 1024px) (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  }

/******************** STYLES FOR PHONE SCREENS (PORTRAIT) ***************/
@media
  only screen and handheld and (min-width: 320px) (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
  only screen and handheld and (min-width: 320px) (max-width: 414px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  }

/******************** STYLES FOR PHONE SCREENS (LANDSCAPE) ***************/
@media
  only screen and handheld and (min-width: 480px) (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
  only screen and handheld and (min-width: 640px) (max-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  }








/******************** PRINT STYLES ***************/

@media print {
  #content {
    border:0;
    }
  /* Hide certain page areas from printing */
  header,
  #header,
  #menu,
  #footer,
  #user_menu,
  #payment_options,
  #quick_link,
  .current_view {
    display:none;
    }
  }


/******************** DEPRECATED STYLES - TO BE REMOVED LATER ***************/

/*

#footer {
  width:95%;
  background-color:#f5edd6;;
  padding:20px;
  text-align:center;
  border:0;
  margin:auto;
  background-color: #f5edd6;
  background: url(/food/grfx/linear_bg.png);
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#758954), to(#f5edd6));
  background: -webkit-linear-gradient(top, #758954, #f5edd6);
  background: -moz-linear-gradient(top, #758954, #f5edd6);
  background: -ms-linear-gradient(top, #758954, #f5edd6);
  background: -o-linear-gradient(top, #758954, #f5edd6);
  }
#footer .site_name {
  display:block;
  font-weight:bold;
  color:#58673f;
  font-size:120%;
  }
#footer .contact_info {
  display:block;
  color:#000;
  font-size:80%;
  }
#footer .links {
  margin-bottom:1em;
  display:block;
  font-size:80%;
  }
#header_subtitle {
  margin-left:50px;
  }
.list-markup1,
.list-markup2,
.list-markup3 {
  text-align:left;
  }
.list-markup1 {
  display:block;
  width:30em;
  margin:auto;
  }
#errors {
   border:1px solid red;
   background:#fed;
   padding:3px;
   color:#800;
   overflow:auto;
   }
#errors ul {
  margin-left: 2em;
  }
#errors h1 {
   font-size:4em;
   float:left;
   margin:0px 12px 0px 0px;
   }
#logout .button,
#edit_profile .button {
  padding:0px;
  }

*/