

/* Styles pertaining to make_payments.php */
.nobr {
  white-space: nowrap;
  }
.producer_section {
  margin:1em 0;
  border:1px solid rgba(0, 0, 0, 0);
  clear:both;
  }
.producer_section:hover {
  position:relative;
  border:1px solid #ace;
  }
.member_name {
  display:inline-block;
  font-weight:bold;
  }
.site_short {
  display:inline-block;
  text-align:center;
  width:75px;
  }
.producer_id {
  display:inline-block;
  width:50px;
  text-align:right;
  padding-right:10px;
  }
.ledger_info {
  overflow:auto;
  /* min-height:20px; */
  background-color: #eed;
  width: 100%;
  }
.controls {
  display:block;
  float:right;
  width:250px;
  }
#make_payment_form .button,
.controls input[type=button] {
  border:0;
  cursor:pointer;
  /* background-color:#750; */
  background: linear-gradient(to bottom, #057 0%, #079 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  color:#fff;
  padding:0.3em 1em;
  }
/* Styles pertaining to make_payments_detail.php */

.data_row {
  display:block;
  clear:left;
  }

.description,
.total {
  display:block;
  float:left;
  width:100px;
  line-height:20px;
  }

.description {
  margin-left:75px;
  }

.total {
  text-align:right;
  }


/* Styles pertaining to adjust_proces.php */

#make_payment_form {
  position:relative;
  background-color:#bcd;
  padding:0.3em;
  }
#make_payment_form label {
  display:inline-block;
  margin-bottom:5px;
  margin-right:5px;
  width:75px;
  text-align:right;
  }
legend {
  padding:0 0.3em;
  }
fieldset {
  border-color:#048;
  }
label#comment_label,
label#paypal_comment_label {
  width:125px;
  }
label#effective_datetime_label {
  width:155px;
  }
label#non_basket_payment_label {
  width:200px;
  }
#amount,
#paypal_fee {
  width:75px;
  text-align:right;
  }
#memo {
  clear:left;
  width:75px;
  }
#batch_no {
  width:100px;
  }
#paypal_comment,
#comment {
  width:350px;
  }
#make_payment_form .button {
  float:right;
  margin-right:10px;
  }

.close_button {
  float:right;
  position:relative;
  height:16px;
  width:16px;
  right:0px;
  top:-5px;
  border:0;
  background-image:url("/food/grfx/close_button.png");
  opacity:0.5;
  }
.close_button:hover {
  opacity:1;
  }



/* Styles for the all dropdowns */
  .dropdown {
    -transition:height 0.7s cubic-bezier(1,0,0.5,1);
    -webkit-transition:height 0.7s cubic-bezier(1,0,0.5,1);
    -moz-transition:height 0.7s cubic-bezier(1,0,0.5,1);
    -o-transition:height 0.7s cubic-bezier(1,0,0.5,1);
    -ie-transition:height 0.7s cubic-bezier(1,0,0.5,1);
    }
/* Styles for the Basket Selector */
  #basket_dropdown {
    position:absolute;
    border:1px solid #000;
    float:left;
    width:300px;
    height:26px;
    overflow:hidden;
    z-index:10;
    }
  #basket_dropdown.clicked,
  #basket_dropdown:hover {
    height:400px;
    }
  h1.cycle_history {
    width:300px;
    font-size:16px;
    color:#efe;
    background-color:#050;
    position:relative;
    height:26px;
    margin:0;
    padding:3px;
    }
  #cycle_history {
    width:100%;
    background-color:#fff;
    overflow:auto;
    width:300px;
    height:374px;
    }
  ul.cycle_history {
    list-style-type:none;
    padding-left:0;
    }

/*
  ul.cycle_history li {
    padding-top:10px;
    text-align:left;
    height:55px;
    padding-left:70px;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    }
  ul.cycle_history li:hover {
    }
  ul.cycle_history li.view:hover {
    cursor:pointer;
    background-color:#efd;
    border-top:1px solid #ad6;
    border-bottom:1px solid #ad6;
    }
  ul.cycle_history li.current {
    background-color:#fed;
    border-top:1px solid #da6;
    border-bottom:1px solid #da6;
    }
  ul.cycle_history li span {
    vertical-align: middle;
    }
*/

  ul.cycle_history li a{
    display:block;
    padding:5px auto;
    text-align:left;
    height:55px;
    padding-left:70px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    }
  ul.cycle_history li:hover {
    }
  ul.cycle_history li a.view:hover {
    cursor:pointer;
    background-color:#efd;
    border-top:1px solid #ad6;
    border-bottom:1px solid #ad6;
    }
  ul.cycle_history li a.current {
    background-color:#fed;
    border-top:1px solid #da6;
    border-bottom:1px solid #da6;
    }
  ul.cycle_history li span {
    vertical-align: middle;
    }
a.select_block,
a.select_block:hover {
  text-decoration:none;
  }


  .delivery_date {
    display:block;
    font-size:130%;
    font-weight:bold;
    color:#350;
    }
  .order_dates {
    display:block;
    font-size:90%;
    color:#530;
    }
  .basket_qty {
    color:#000;
    }


/* ANYTHING BELOW THIS LINE IS BOGUS */


#foo {
  transition: height 1s;
  -moz-transition: height 1s; /* Firefox 4 */
  -webkit-transition: height 1s; /* Safari and Chrome */
  -o-transition: height 1s; /* Opera */
  }






















